.GameCanvas{
    border: 10px solid black;
    top: 60%;
    left: 50%;
    transform: translate(0%,20%);
    background-color: black;
}

.title{
    display: flex;
    justify-content: center;
    color: black;
}
.game_area{
    display: flex;
    justify-content: center;
}